.button {
  width: 124px;
  height: 26px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e85f37;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 0px;
  text-transform: uppercase;
  color: #e85f37;
  font-weight: font-weight;
}
.container{
  margin-left: 343px;
}
#home{
  color: orangered;
}
.buttonprevcious{
  background-color: black;
  color: #ffffff;
  border: 1px solid;
  border-radius: 5px;
  width: 135px;
  height: 35px;
}
